@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

/* Add the animation for quote and author */
@keyframes slide-in {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.transition-all {
  transition: all 1s ease;
}

.animate-quote {
  animation: slide-in 1s forwards;
}
